.gdprconsent-widget {
  height: 75px;
  width: 75px;
  background: rgb(33, 37, 41);
  color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 30pt;

  &:focus {
    outline: 0;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .8);
  }
}

.gdprconsent-accept {
  background: rgb(0, 136, 0);
  color: rgb(255,255,255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
}